
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="js/popper.min.js"></script>

<link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" >
<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- FONT AWSOME -->
<link rel="stylesheet" href="css/all.css">

<!-- ALERT BOOTSTRAP NOTIFY -->
<script src="js/jquery.bootstrap-growl.min.js"></script>
<script src="js/alertNotifications.js"></script>


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        .form-signin {
            border-radius: 25px;
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(5px);
        }
    }

    @media (min-width: 2501px) {
        body {
            background: url("img/pexixion_jefes.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media (max-width: 2500px) {
        body {      
            background: url("img/pexixion_normal.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

</style>

<!-- Custom styles for this template -->
<link href="css/floating-labels.css" rel="stylesheet">
